In [6]:
#Load the Libraries
import pandas as pd #to work with dataset
import numpy as np #math library
import seaborn as sns #Graph library that use matplot in bg
import matplotlib.pyplot as plt #to plot some parameters in seaborn

#import the data
df_credit = pd.read_csv("input/german_credit_data.csv", index_col=0)

In [7]:
# Initial Analysis of Data
#Searching for Missings, type of data and also know the shape of data
print(df_credit.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age               1000 non-null   int64
 1   Sex               1000 non-null   object
 2   Job               1000 non-null   int64
 3   Housing           1000 non-null   object
 4   Saving accounts   817 non-null    object
 5   Checking account  606 non-null    object
 6   Credit amount     1000 non-null   int64
 7   Duration          1000 non-null   int64
 8   Purpose           1000 non-null   object
dtypes: int64(4), object(5)
memory usage: 78.1+ KB
None

In [8]:
#Looking for unique values
print(df_credit.nunique())
#looking the data
print(df_credit.head())

Age                  53
Sex                   2
Job                   4
Housing               3
Saving accounts       4
Checking account      3
Credit amount       921
Duration             33
Purpose               8
dtype: int64
   Age     Sex  Job Housing Saving accounts Checking account  Credit amount  \
0   67    male    2     own             NaN           little           1169
1   22  female    2     own          little         moderate           5951
2   49    male    1     own          little              NaN           2096
3   45    male    2    free          little           little           7882
4   53    male    2    free          little           little           4870

   Duration              Purpose
0         6             radio/TV
1        48             radio/TV
2        12            education
3        42  furniture/equipment
4        24                  car